.wrapper {
  padding: 1em;
  grid-area: main;
}

.appDesc {
  padding: 1em;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons>*:first-child {
}
.buttons>*:last-child:hover span {
  text-decoration: underline;
}

.buttons>* {
  flex: 1;
  margin-top: 1em;
}

.btn {
  padding: 1em;
  border-radius: 1px;
  /* border-style: solid; */
  width: 20em;
  text-align: center;
  margin: 0.5em;
}

.btnMine {
  padding: 2em 1em;
  color: var(--global-color-white);
  text-decoration: none;
}

.btnOther {

}